#chartGenderKomedia {
    float: left;
}

#chartGenderISE {
    float: left;
}

#chartGenderAI {
    float: left;
}

#legendsGender {
    position: fixed;
    margin-top: 100px;
    transform: translate(-10%, 30%);
}

#legendsStudyContent {
    position: fixed;
    margin-top: 100px;
    transform: translate(-10%, 30%);
}

#legendsSkills {
    position: fixed;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#legendsAge {
    position: fixed;
    margin-top: 100px;
    transform: translate(-10%, 30%);
}

#chartAgeKomedia {
    float: left;
}

#chartAgeISE {
    float: left;
}

#chartAgeAI {
    float: left;
}

#organizationAspectSwitch2 {
    float: left;
}

#contentAspectSwitch {
    float: right;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.checkBoxContainer {
    float: right;
   position: relative;
}

.checkBoxContainer1 {
    float: right;
   position: relative;
}

.checkBoxContainer2 {
    float: right;
   position: relative;
}

.checkBoxContainer3 {
   float: right;
   position: relative;
}

#chartStudyContentAI {
    float: left;
}

#chartStudyContentKomedia {
    float: left;
}

#chartStudyContentISESoft {
    float: left;
}

#chartStudyContentISEComm {
    float: left;
}

#logo {
    margin: 100px;
}

#exploreby {
    text-align: center;
}

#chartOrganization {
    margin-bottom: 20px;
}

#chartContent {
    margin-bottom: 20px;
}

.scalerating {
    margin-top: 20px;
    text-align: center;
}

.buttonContainer {
    margin-top: 10px;
}

#scalehappiness {
    margin-top: 20px;
    text-align: center;
}

.titles {
    text-align: center;
}

.title1 {
    margin-top: 10px;
}

#admissionreq {
    margin-top: 40px;
}