#chartSkillsKomedia {
    float: left;
}

#chartSkillsISE {
    float: right;
}

#chartSkillsAI {
    float: left;
}

#chartGenderKomedia {
    float: left;
}

#chartGenderISE {
    float: left;
}

#chartGenderAI {
    float: left;
}

#legendsGender {
    float: left;
}

#chartAgeKomedia {
    float: left;
}

#chartAgeISE {
    float: left;
}

#chartAgeAI {
    float: left;
}

#organizationAspectSwitch {
    float: right;
}

#contentAspectSwitch {
    float: right;
}